parameters:
    level: 5
    paths:
        - src/
        - tests/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Routing\\Route::(localized|getLocale|getCountry|getUrl|getSafeName|localizedExcept)\(\)#'
        - '#Call to an undefined method Illuminate\\Routing\\PendingResourceRegistration::(localized|localizedExcept)\(\)#'
        - '#Argument of an invalid type Illuminate\\Routing\\RouteCollectionInterface supplied for foreach, only iterables are supported#'
        - '#Parameter .* of function expect contains unresolvable type#'